.expense-control-btns {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    :nth-child(2) {
        margin-left: 10px;
    }
}

.add-expense-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    background-color: #f2f2f2;
    border-radius: 9px;
    padding: 8px;

    :nth-child(2) {
        margin-left: 7px;
        width: 12%;
    }

    :nth-child(3) {
        margin-left: 10px;
    }

    .user-fields-section {
        display: flex;
        justify-content: flex-end;
    }

    .message-txt {
        color: #f22d2d;
        width: 100%;
        margin-left: 0;
        font-size: 12px;
        font-weight: 600;
        text-align: right;
    }
}

.settle-up-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.table-msg-section {
    background-color: #ededed;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"] {
    -moz-appearance: textfield;
}